@using WebEcommerce.Models
@model WebEcommerce.Models.HomeViewModel

@{
    ViewBag.Title = "Accueil";
}

<br>
<div class="text-center">
    <h2>Meilleures ventes</h2>

    <ul class="listProduit container">
        @foreach (var produit in Model.ListeProduits)
        {
            <li class="produit col-md-4 text-center">
                <img src="https://dummyimage.com/200x200/033678/fff" class="img-responsive" />
                <h3>@produit.Libelle -- @produit.Prix €</h3>
            </li>
        }
    </ul>

    <h2>Les dernières commandes</h2>
    <ul class="listProduit container">
        @foreach (var commande in Model.ListeCommandes)
        {
        <li class="produit col-md-4 text-center">
            <h3>@commande.Client -- @commande.DateCommande</h3>
        </li>
        }
    </ul>

    <br>

   

</div>